node-red/flows/plc-modbus-to-mqtt.json
[
  {
    "id": "flow_modbus_bridge",
    "type": "tab",
    "label": "PLC Modbus -> MQTT",
    "disabled": false,
    "info": "Puente para PLC sin MQTT: lectura Modbus TCP y publicacion a broker MQTT."
  },
  {
    "id": "note_arch",
    "type": "comment",
    "z": "flow_modbus_bridge",
    "name": "Arquitectura",
    "info": "PLC --(Modbus TCP)--> Node-RED --(MQTT)--> Broker --> Clientes",
    "x": 210,
    "y": 60,
    "wires": []
  },
  {
    "id": "modbus_read_plc",
    "type": "modbus-read",
    "z": "flow_modbus_bridge",
    "name": "Leer holding register",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": true,
    "showWarnings": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "1",
    "rate": "1",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "modbus_client_plc",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "x": 210,
    "y": 140,
    "wires": [
      [
        "fn_to_plc_state",
        "debug_raw_modbus"
      ],
      []
    ]
  },
  {
    "id": "fn_to_plc_state",
    "type": "function",
    "z": "flow_modbus_bridge",
    "name": "Convertir y armar payload",
    "func": "const regs = msg.payload;\n\nif (!Array.isArray(regs) || regs.length === 0) {\n    return null;\n}\n\n// Caso basico: 1 holding register (INT16/UINT16).\n// Si tu PLC usa FLOAT32, debes combinar 2 registros y aplicar endianness correcto.\nconst value = regs[0];\n\nmsg.topic = \"plc/elevador/1/state\";\nmsg.payload = {\n    value,\n    ts: Math.floor(Date.now() / 1000),\n    source: {\n        protocol: \"modbus-tcp\",\n        unitId: 1,\n        register: 0,\n        quantity: 1\n    }\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 140,
    "wires": [
      [
        "mqtt_out_plc_state",
        "debug_payload_mqtt"
      ]
    ]
  },
  {
    "id": "mqtt_out_plc_state",
    "type": "mqtt out",
    "z": "flow_modbus_bridge",
    "name": "Publicar a MQTT",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 760,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug_raw_modbus",
    "type": "debug",
    "z": "flow_modbus_bridge",
    "name": "Debug Modbus raw",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug_payload_mqtt",
    "type": "debug",
    "z": "flow_modbus_bridge",
    "name": "Debug payload MQTT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 220,
    "wires": []
  },
  {
    "id": "note_checks",
    "type": "comment",
    "z": "flow_modbus_bridge",
    "name": "Checks importantes",
    "info": "1) IP PLC y Node-RED en la misma red.\n2) Verifica direccion de registro (0-based vs 40001).\n3) Ajusta rate para no saturar PLC.\n4) Confirma tipo de dato y endianness.",
    "x": 240,
    "y": 300,
    "wires": []
  },
  {
    "id": "modbus_client_plc",
    "type": "modbus-client",
    "name": "PLC Modbus TCP",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "192.168.1.50",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB0",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showErrors": true,
    "showLogs": false
  },
  {
    "id": "mqtt_broker_local",
    "type": "mqtt-broker",
    "name": "Aoki MQTT local",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
